@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin margin-center($width:80%) {
  width: $width;
  margin: 0 auto;
}

$fontLL:2em;
$fontL:1.8em;
$fontMT:1.5em;
$fontM:1.3em;
$fontS:1.1em;


@media screen and (min-width:900px) {
  
  main {
  

    .about {
      display: flex;

      .contents {

        .content {
          @include margin-center();
  
          h5 {
            font-size: $fontMT;
            margin: 10px 0 0 0;
          }
  
          p {
            font-size: $fontM;
          } 
        }
      }

      .content2 {
        img {
          width: 50%;
        }
      }

    }

    .company {
      .contents {
        .table {
          @include margin-center(80%);

          ul {
            li {
              font-size: $fontS;
            }
          }
        }
      }

      img {
        display: block;
        @include margin-center(70%);
      }

      
    }

    .sub-title {
      margin: 0 auto 30px auto;
      width: 80%;

      h5 {
        width: 20%;
        padding: 1%;
        font-size: $fontM;
      }
    }

    .president {
      .contents {
        
      img {
          @include margin-center();
          display: block;
        }

        .content {
          @include margin-center();
          h5 {
            font-size: $fontM;
            margin: 50px 0 0 0;
          }

          p {
            font-size: $fontM;
            margin: 20px 0 0 0;

          }

          .person {
            p {
              font-size: $fontS;
            }

            img {
              width: 25%;
            }
          }


        }
      }
    }
  }


}