@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin margin-center($width:80%) {
  width: $width;
  margin: 0 auto;
}

$c-white:white;
$c-black:black;
$c-navy:rgb(50, 111, 182);


$fontL:2em;
$fontM:1.1em;
$fontS:0.8em;
$fontSS:0.5em;


header {
  .h-top {
    .h-list {
      li {
        border-left: 1px solid $c-black;

        a {
          color: $c-black;
        }

        &:hover {
          border-left: 2px solid $c-black;
          }
      }
    }

    .hide {
      .fas {
        color: $c-black;
      }
    }
  }
}


main {
  

  .about {
    margin: 16% 0 0 0;

    .contents {

      .content {
        @include margin-center(100%);

        h5 {
          width: 100%;
          margin: 10px 0;
          font-size: $fontM;
        }

        p {
          font-size: $fontS;
        }
        
      }
    }


      .content2 {
        border-top: 1px solid $c-navy;
        border-bottom: 1px solid $c-navy;

        img {
          width: 80%;
          margin: 10px 0;
          display: block;
        }
      }
  }

  .company {

      .table {
        ul {
          padding: 0;
          @include margin-center(100%);
          li {
            font-size: $fontS;
            border-bottom: 1px dotted $c-black;
            @include flex_center();

            span {
              width: 30%;
            }

            p {
              width: 70%;
            }
          }
        }
      }

      img {
       @include margin-center(100%);
      }
  }

  .president {
    .contents {
      img {
        width: 100%;
      }

      .content {

        h5 {
          font-size: $fontM;
          font-weight: bold;
          margin: 10px 0 0 0;
        }

        p {
          font-size: $fontS;
          margin: 10px 0 0 0;
        }

        .person {
          text-align: right;

          img {
            width: 30%;
            margin: 10px 0 0 auto;

          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  
}