body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family:  "ヒラギノ明朝 ProN W3","游明朝", YuMincho, "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}


.black {
  color: black;
}

.white {
  color: white;
}

.opacity-none {
  opacity: 0;
}


/* LOADING部分 */
.wrap {
  width: 100%;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #326fb6;
  z-index: 5;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: white;
  z-index: 2;
}



/* HEADERの共通部分 */
/* TOP部分 */
header {
  width: 100%;
}

header .h-top {
  width: 90%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .h-top .h-logo {
  width: 30%;
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .h-top .h-logo a img {
  width: 100%;
}

header .h-top .h-logo a:hover {
  opacity: 0.8;
}

header .h-top .h-list {
  width: 60%;
  height: 80%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

header .h-top .h-list li {
  width: 70%;
  height: 70%;
  position: relative;
  border-left: 1px solid white;
}

header .h-top .h-list li a {
  width: 100%;
  padding: 100% 0 0 5px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  text-decoration: none;
  color: white;
  z-index: 2;
}

header .h-top .h-list li:hover {
  border-left: 2px solid white;
}

header .h-top .hide .open {
  margin: 0 0 0 0;
  font-size: 1.5em;
  /* color: white; */
}

header .h-top .hide .display-none {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

header .h-top .hide .hide-list {
  margin: 15% 0 0 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  list-style: none;
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(50, 112, 182, 0.829);
}

header .h-top .hide .hide-list li {
  width: 100%;
  height: 10%;
  border-bottom: 2px dotted white;
}

header .h-top .hide .hide-list li a {
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

header .h-top .hide .hide-list li a:hover {
  background-color: #2da3c0;
}
/* TOP部分終わり */

header .h-main {
  position: relative;
}
header .h-main .back-img {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 66.66%;
}



/* HEADERの共通部分終わり */


/* MAINの共通部分 */


main .contents {
  width: 80%;
  margin: 30px auto 0 auto;
}

/* TITLE部分 */
main .title {
  width: 100%;
  padding: 10px 0;
  margin: 30px auto 0 auto;
  background-color: #326fb6;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .title h3, main .title p {
  margin: 0;
  font-size: 1.1em;
}

main .title p {
  font-size: 0.7em;
}


/* SUB-TITLE部分 */
main .sub-title {
  width: 30%;
}

main .sub-title h5 {
  margin: 0;
  padding: 5% 10%;
  text-align: center;
  color: #326fb6;
  border: 1px solid #326fb6;
  border-radius: 30px;
}


/* LIST部分 */
main .contents ul {
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 0;
  list-style: none;
}


/* MAINの共通部分終わり */



/* FOOTERの共通部分 */
footer {
  margin: 100px 0 0 0;
  background-color: #326fb6;
  padding: 20px;
}

footer ul {
  display: block;
  list-style: none;
  padding: 0;
}

footer ul li {
  padding: 10px 0;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li:hover {
  opacity: 0.7;
  -webkit-transition: 0.5;
  transition: 0.5;
}

footer .hide-footer {
  width: 80%;
  margin: 0 auto;
  display: block;
}

footer .hide-footer li a {
  font-size: 1.1em;
}

footer .f-container .f-left {
  width: 70%;
  display: none;
}

footer .f-container .f-left .f-section {
  width: 30%;
  margin: 0 15px 0 0;
}

footer .f-container .f-left .f-section h5 {
  margin: 0;
  font-size: 20px;
}

footer .f-container .f-left .f-section ul {
  border-left: 1px solid white;
}

footer .f-container .f-left .f-section ul li {
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  cursor: pointer;
}

footer .f-container .f-left .f-section ul li a span {
  display: block;
  margin: 0 0 0 10px;
}

footer .f-container .f-right {
  width: 100%;
}

footer .f-container .f-right .f-bottom {
  width: 80%;
  margin: 30px auto 0 auto;
  font-size: 0.5em;
}

footer .f-container .f-right .f-bottom img {
  width: 100%;
}

footer .f-container .f-right .f-bottom p {
  margin: 0;
  font-size: 0.7em;
}

footer .f-container .f-right .back-home {
  font-size: 2.5em;
  padding: 10px;
  display: none;
}

footer .f-container .f-right .back-home a {
  color: white;
}
/* FOOTERの共通部分終わり */